input.ng-invalid.ng-touched {
    border-left: 5px solid #a94442;
   }
input.ng-valid.ng-dirty {
    border-left: 5px solid #42A948;
   }
.check {
    color: #42A948;
    padding-left: 5px;
   }
.uncheck {
    color: #a94442;
    padding-left: 5px;
   }

   p{
       color: var(--ion-color-text) !important;
   }
