<ion-header no-border color="primary">
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-toggle>
          <ion-button>
            <ion-icon slot="icon-only" name="menu"></ion-icon>
          </ion-button>
        </ion-menu-toggle>
      </ion-buttons>
      <ion-title>
        <!--<img style="vertical-align:middle;display:inline-block" src="../../assets/icon/BBIcon400.png" height="35" style="margin:0">-->
        <span style="font-weight:normal">{{"favtittle" | translate}}</span>
      </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content></ion-content>
